{
  "presets": ["@babel/env", "@babel/preset-typescript"],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".tokens"]
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
