{
    "extends": ["eslint:recommended"],
    "plugins": [
        "promise"
    ],
    "rules": {
        "no-var": 2,
        "object-curly-spacing": [2, "always"],
        "object-shorthand": 2,
        "prefer-const": 2,
        "max-len": 2
    },
    "parserOptions": {
       "ecmaVersion": 2017
    },
    "env": {
       "es6": true,
       "node": true
    }
}
